body{
  padding: 0;
  margin: 0;
  background-color: black;
  color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  font-size: 10px;
  letter-spacing: 30px;
  /*minimum might*/
}

#text{
  animation: move 3s linear infinite;
  overflow: visible;
  font-size: 3px;

}

@keyframes move{
    0%{
      font-size: 3px;
      color: white;
    }

    10%{
      font-size: 200px;
      text-shadow: 0 0 10px darkred,
                 0 0 20px darkred,
                 0 0 40px darkred,
                 0 0 60px darkred,
                 0 0 80px darkred; 
      color: red;
    }

    30%{
      font-size: 200px;
      text-shadow: 0 0 10px darkred,
                 0 0 20px darkred,
                 0 0 40px darkred,
                 0 0 60px darkred,
                 0 0 80px darkred; 
      color: red;
    }

    100%{
      font-size: 3px;
       text-shadow: 0 0 10px darkred,
                 0 0 20px darkred,
                 0 0 40px darkred,
                 0 0 60px darkred,
                 0 0 80px darkred;
      overflow: display; 
      color: white;

    }

}



